@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sono", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: linear-gradient(135deg, #c2ffd8 10%, #465efb 100%);
}

body {
  background-image: linear-gradient(135deg, #97abff 10%, #123597 100%);
  background-repeat: no-repeat;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem;
}

.converter {
  width: 100%;
}

.converter div {
  display: flex;
}

.addon {
  align-items: center;
  font-size: xx-large;
  margin-right: 20px;
}
input[type="number"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 0px solid #fff;
  height: 20%;
  display: flex;
  border-radius: 20px;
}

input[type="number"]:focus {
  outline: none;
}

input[placeholder] {
  text-align: center;
  font-size: xx-large;
}

.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.color {
  background-color: #fff;
  border-radius: 20px;
}

hr {
  margin: 10px 0px;
}
